# Ignore executable and distribution files
dist/
build/
*.exe

# Ignore virtual environment (if any)
.venv/
env/
.venv_x86

# Ignore environment variables
.env

# Ignore environment variables
main.spec

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore log files
*.log

# Ignore IDE configs
.idea/

# Ignore local database and internal cleanup
acasmart.db
acasmart_template.db
.last_cleanup.txt
