PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5-sip==12.15.0
jdatetime==5.0.0
openpyxl==3.1.5
pandas==2.2.2
numpy==1.26.4
google-api-python-client==2.17.0
google-auth==2.40.2
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
httplib2==0.22.0
requests==2.32.3
requests-oauthlib==2.0.0
oauthlib==3.2.2
et-xmlfile==1.1.0
python-dateutil==2.9.0.post0
jalali-core==1.0.0
cachetools==5.5.2
protobuf==4.21.12
ippanel==2.0.7
python-dotenv==1.1.0
